{
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "usage",
            "targets": {
              "chrome": "50",
              "ios": "8",
              "android": "6"
            },
            "modules": false
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-class-properties",
        ["@babel/plugin-proposal-decorators", { "legacy": true }]
      ]
    },
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "browsers": ["chrome > 50", "ios > 6", "android > 4.4"]
          }
        }]
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties"
      ]
    }
  }
}