{
  "ignore": [
    "node_modules/**"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["chrome > 50", "ios > 6", "android > 4.4"]
          }
        }],
        "stage-2"
      ]
    },
    "production": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["chrome > 50", "ios > 6", "android > 4.4"]
          },
          "modules": false
        }],
        "stage-2"
      ],
      "plugins": ["external-helpers"]
    }
  }
}